specs/
.env
broadcast/
cache/
out/
deployments/*
!deployments/robinhood-chain-4663.json
!deployments/statics-operators-robinhood-4663.json
!deployments/robinhood-chain-testnet-46630.json
!deployments/statics-operators-robinhood-testnet-46630.json
artifacts/
